In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\mysel\anaconda3\lib\site-packages (4.8.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\mysel\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\mysel\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\mysel\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\mysel\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sniffio in c:\users\mysel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\mysel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\mysel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\mysel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\mysel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\mysel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\mysel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\mysel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\users\mysel\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\mysel\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\mysel\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\mysel\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome(r"C:\Users\mysel\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [5]:
#Question 1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
#have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
#jobs data.

In [6]:
driver.get("https://www.naukri.com")

In [7]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

In [8]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [9]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [10]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [11]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//div[@class="ellipsis job-description"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [12]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

0 0 10 10

In [ ]:
df1=pd.DataFrame({"Title":job_title,"Location":job_location,"Company_name":company_name,"Experience":experience_required })
df1

In [13]:
#Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
#have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [14]:
driver = webdriver.Chrome(r"C:\Users\mysel\Downloads\chromedriver_win32\chromedriver.exe")

In [15]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [16]:
driver.get("https://www.naukri.com")

In [17]:
designation2 = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation2.send_keys("Data scientist")

In [18]:
location2 = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location2.send_keys("Bangalore")

In [19]:
search2 = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search2.click()

In [20]:
job_title2=[]
job_location2=[]
company_name2=[]
experience_required2=[]

In [21]:
title_tags2=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags2[0:10]:
    title2=i.text
    job_title2.append(title2)
    
location_tags2=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags2[0:10]:
    location2=i.text
    job_location2.append(location2)
    
company_tags2=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags2[0:10]:
    company2=i.text
    company_name2.append(company2)
    
experience_tags2=driver.find_elements(By.XPATH,'//div[@class="ellipsis job-description"]')
for i in experience_tags2[0:10]:
    experience2=i.text
    experience_required2.append(experience2)

In [22]:
print(len(job_title2),len(job_location2),len(company_name2),len(experience_required2))

10 10 10 10

In [23]:
df2=pd.DataFrame({"Title":job_title2,"Location":job_location2,"Company_name":company_name2,"Experience":experience_required2})
df2

,Title,Location,Company_name,Experience
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,Must Have Knowledge of statistical techniques ...
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,This role will be a part of Survey Solutions a...
2,Data Scientist,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Cognizant,Good amount of hands-on experience in Machine ...
3,Staff Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes,Independently deliver guide the team on ambigu...
4,Sr. Data scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, M...",Tata Consultancy Services (TCS),Roles and Responsibilities 7+ yrs of experienc...
5,Data Scientist II,Bangalore/Bengaluru,Uber,. What You Will Need . . . . MS or Bachelors d...
6,Physicist / Scientist,Bangalore/Bengaluru,Applied Materials,Support physics-related application and system...
7,Senior Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Justified Advertising Software Services India ...,Evaluating the statistical methods and procedu...
8,Principal Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Agilon Health,Experience training and deploying models in a ...
9,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",UPL Limited,The Data Science Lead will use both management...

In [35]:
#Question 3: In this question you have to scrape data using the filters available on the webpage as shown below:
#You have to use the location and salary filter.
#You have to scrape data for “Data Scientist” designation for first 10 job results.
#You have to scrape the job-title, job-location, company name, experience required.
#The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [36]:
driver = webdriver.Chrome(r"C:\Users\mysel\Downloads\chromedriver_win32\chromedriver.exe")

In [37]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [38]:
driver.get("https://www.naukri.com")

In [39]:
designation3 = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation3.send_keys("Data scientist")

In [40]:
search3 = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search3.click()

In [41]:
location3 = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
location3.click()

In [43]:
salary3 = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
salary3.click()

In [44]:
job_title3=[]
job_location3=[]
company_name3=[]
experience_required3=[]

In [45]:
title_tags3=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags3[0:10]:
    title3=i.text
    job_title3.append(title3)
    
location_tags3=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags3[0:10]:
    location3=i.text
    job_location3.append(location3)
    
company_tags3=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags3[0:10]:
    company3=i.text
    company_name3.append(company3)
    
experience_tags3=driver.find_elements(By.XPATH,'//div[@class="ellipsis job-description"]')
for i in experience_tags3[0:10]:
    experience3=i.text
    experience_required3.append(experience3)

In [46]:
print(len(job_title3),len(job_location3),len(company_name3),len(experience_required3))

10 10 10 10

In [47]:
df3=pd.DataFrame({"Title":job_title3,"Location":job_location3,"Company_name":company_name3,"Experience":experience_required3})
df3

,Title,Location,Company_name,Experience
0,Data Scientist data Analyst,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Smark Laser Automation,Participate in the entire application lifecycl...
1,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,"We are looking for a Data Scientist, who will ..."
2,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,". Engg, MBA, Master s Degree in Economics, Sta..."
3,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,". . . . . Engineering, MBA, Master s Degree in..."
4,Senior Data Scientist - Statistics,Gurgaon/Gurugram,Optum,Timely and quality delivery of engagements wit...
5,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,Should have prior understanding or working exp...
6,Data Scientist || Walk-In || 5th-6th Jan,Hybrid - Noida(Sector-62 Noida),SEW Engineering,"Masters degree in Machine Learning, Data Scien..."
7,Research Scientist - Bioinformatics,Gurgaon/Gurugram,Biopeople India,Experience in molecular biology and associated...
8,Data Scientist,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,Experience in handling unstructured data and a...
9,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,"Bachelor s or Masters degree in Physics, Math,..."

In [106]:
#Question 4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#1. Brand
#2. ProductDescription
#3. Price
#The attributes which you have to scrape is ticked marked in the below image.

In [107]:
driver = webdriver.Chrome(r"C:\Users\mysel\Downloads\chromedriver_win32\chromedriver.exe")

In [108]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [109]:
driver.get("https://www.flipkart.com/")

In [110]:
cross4 = driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross4.click()

In [111]:
product4 = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product4.send_keys("sunglasses")

In [112]:
search4 = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search4.click()

In [113]:
sunglass_brand4=[]
sunglass_product_description4=[]
sunglass_price4=[]

In [114]:
brand_tags4=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags4[0:100]:
    brand4=i.text
    sunglass_brand4.append(brand4)
    
product_description_tags4=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_description_tags4[0:100]:
    product4=i.text
    sunglass_product_description4.append(product4)
    
price_tags4=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags4[0:100]:
    price4=i.text
    sunglass_price4.append(price4)

In [115]:
print(len(sunglass_brand4),len(sunglass_product_description4),len(sunglass_price4))

40 40 40

In [117]:
df4=pd.DataFrame({"Brand":sunglass_brand4,"Product_Description":sunglass_product_description4,"Price":sunglass_price4})
df4.head()

       Brand                                Product_Description Price
0  Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹129
1  Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹129
2  Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹149
3   Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹519
4   Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...  ₹579

In [127]:
#Question 5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
#https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
#place=FLIPKART
#As shown in the above page you have to scrape the tick marked attributes. These are:
#1. Rating
#2. Review summary
#3. Full review
#4. You have to scrape this data for first 100reviews

In [128]:
driver = webdriver.Chrome(r"C:\Users\mysel\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [129]:
iphone_rating5=[]
iphone_review_summary5=[]
iphone_full_review5=[]

In [130]:
rating_tags5=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags5[0:100]:
    rating5=i.text
    iphone_rating5.append(rating5)
    
review_summary_tags5=driver.find_elements(By.XPATH,'//a[@class="_2-N8zT"]')
for i in review_summary_tags5[0:100]:
    review5=i.text
    iphone_review_summary5.append(review5)
    
full_review_tags5=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in full_review_tags5[0:100]:
    full_review5=i.text
    iphone_full_review5.append(full_review5)

In [131]:
print(len(iphone_rating5),len(iphone_review_summary5),len(iphone_full_review5))

10 0 1

In [132]:
df5=pd.DataFrame({"Rating":iphone_rating5,"Review summary":iphone_review_summary5,"Full Review":iphone_full_review5})
df5.head()

ValueError: All arrays must be of the same length

In [137]:
#QUestion 6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
#search field.
#You have to scrape 3 attributes of each sneaker
#1. Brand
#2. ProductDescription
#3. Price

In [138]:
driver = webdriver.Chrome(r"C:\Users\mysel\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.flipkart.com/")
cross6 = driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross6.click()
product6 = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product6.send_keys("sneakers")
search4 = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search4.click()

sneakers_brand6=[]
sneakers_product_description6=[]
sneakers_price6=[]

brand_tags6=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags6[0:100]:
    brand6=i.text
    sneakers_brand6.append(brand6)
    
product_description_tags6=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_description_tags6[0:100]:
    product6=i.text
    sneakers_product_description6.append(product6)
    
price_tags6=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags6[0:100]:
    price6=i.text
    sneakers_price6.append(price6)
    
print(len(sneakers_brand6),len(sneakers_product_description6),len(sneakers_price6))

0 0 0

In [139]:
df6=pd.DataFrame({"Brand":sneakers_brand6,"Product_Description":sneakers_product_description6,"Price":sneakers_price6})
df6.head()

Empty DataFrame
Columns: [Brand, Product_Description, Price]
Index: []

In [140]:
#Question 7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
#set CPU Type filter to “Intel Core i7” as shown in the below image:
#After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
#1. Title
#2. Ratings
#3. Price

In [141]:
driver = webdriver.Chrome(r"C:\Users\mysel\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.amazon.in/")

product7 = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product7.send_keys("laptop")

search7 = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search7.click()

filter7 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[9]/span/a/div/label/i")
filter7.click()

laptop_title7=[]
laptop_ratings7=[]
laptop_price7=[]

title_tags7=driver.find_elements(By.XPATH,'//div[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags7[0:100]:
    title7=i.text
    laptop_title7.append(title7)
    
ratings_tags7=driver.find_elements(By.XPATH,'//a[@class="a-size-base"]')
for i in ratings_tags7[0:100]:
    ratings7=i.text
    laptop_ratings7.append(ratings7)
    
price_tags7=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags7[0:100]:
    price7=i.text
    laptop_price7.append(price7)
    
print(len(laptop_title7),len(laptop_ratings7),len(laptop_price7))

0 0 0

In [142]:
df7=pd.DataFrame({"Title":laptop_title7,"Ratings":laptop_ratings7,"Price":laptop_price7})
df7.head()

Empty DataFrame
Columns: [Brand, Product_Description, Price]
Index: []

In [144]:
#Question 8: Write a python program to scrape data for Top 1000 Quotes of All Time.
#The above task will be done in following steps:
#1. First get the webpagehttps://www.azquotes.com/
#2. Click on TopQuotes
#3. Than scrap a) Quote b) Author c) Type Of Quotes

In [145]:
driver = webdriver.Chrome(r"C:\Users\mysel\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.azquotes.com/")

top_quote8 = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
top_quote8.click()

top_quote8=[]
top_author8=[]
top_type_of_quotes8=[]

quote_tags8=driver.find_elements(By.XPATH,'//div[@class="title"]')
for i in quote_tags8[0:1000]:
    quote8=i.text
    top_quote8.append(quote8)
    
author_tags8=driver.find_elements(By.XPATH,'//a[@class="author"]')
for i in author_tags8[0:1000]:
    author8=i.text
    top_author8.append(author8)
    
type_of_quotes_tags8=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type_of_quotes_tags8[0:1000]:
    type_of_quotes8=i.text
    top_type_of_quotes8.append(type_of_quotes8)
    
print(len(top_quote8),len(top_author8),len(top_type_of_quotes8))

4 0 100

In [146]:
df8=pd.DataFrame({"Quote":top_quote8,"Author":top_author8,"Type Of Quotes":top_type_of_quotes8})
df8.head()

ValueError: All arrays must be of the same length

In [ ]:
#Question 9:Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
#Term of office, Remarks) from https://www.jagranjosh.com/.

This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [147]:
driver = webdriver.Chrome(r"C:\Users\mysel\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.jagranjosh.com/")

gk9 = driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[9]/a")
gk9.click()

india_gk9 = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[5]/div/div/ul/li[6]/a/span")
india_gk9.click()

pm9 = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[14]/div/div/ul/li[4]/a")
pm9.click()

pm_name9=[]
pm_born_dead9=[]
pm_tearm_of_office9=[]
pm_remarks9=[]

#CANNOT FIND CLASS ATTRIBUTE FOR PRIME MINISTER NAMES

In [ ]:
#Question 10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
#Car name and Price) from https://www.motor1.com/

In [ ]:
#CANNOT FIND 50 MOST EXPENSIVE CARS IN THE WORLD OPTION ON WWW.MOTOR1.COM