# Assignment 1

In [3]:
!pip install bs4
!pip install requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\mysel\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\mysel\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1272 sha256=aa9b8943d6189aa9fb856692e474f4bf093ecf43746e6c4cfbadc62144c0d84b
  Stored in directory: c:\users\mysel\appdata\local\pip\cache\wheels\73\2b\cb\099980278a0c9a3e57ff1a89875ec07bfa0b6fcbebb9a8cad3
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
Requirement already satisfied: requests in c:\users\mysel\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\mysel\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mysel\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\mysel\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mysel\anaconda3\lib\site-packages (from requests) (2021.10.8)

In [ ]:
Question 1 :Write a python program to display all the header tags from wikipedia.org and make data frame

In [127]:
from bs4 import BeautifulSoup
import requests

In [132]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(page.content)
soup = BeautifulSoup(page.content, "html.parser")
header = soup.find_all('span', class_="mw-headline")
heading = []
for head in header:
    heading.append(head.get_text().strip())
heading

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [ ]:
Question 2: Write a python program to display IMDB’s Top rated 50 movies’ data (i.e. name, rating, year of release)
and make data frame.

In [30]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [31]:
page2 = requests.get('https://www.imdb.com/list/ls055386972/')

In [133]:
soup2 = BeautifulSoup(page2.content)
soup2 = BeautifulSoup(page2.content, "html.parser")
name = soup2.find_all('h3', class_="lister-item-header")
movie_name = []
for names in name:
    movie_name.append(names.get_text().split('\n')[2])
movie_name

['The Godfather',
 "Schindler's List",
 '12 Angry Men',
 'La vita è bella',
 'Il buono, il brutto, il cattivo',
 'The Shawshank Redemption',
 'The Pursuit of Happyness',
 'Shichinin no samurai',
 'The Intouchables',
 'Central do Brasil',
 'Requiem for a Dream',
 'A Beautiful Mind',
 "Hachi: A Dog's Tale",
 'Taken',
 'Yeopgijeogin geunyeo',
 'Amores perros',
 'The Shining',
 'Apocalypto',
 'Gladiator',
 'Cast Away',
 'The Dark Knight',
 'The Pianist',
 'Titanic',
 'Bin-jip',
 'Braveheart',
 "It's a Wonderful Life",
 'Bom yeoreum gaeul gyeoul geurigo bom',
 'Alien',
 'Salinui chueok',
 'Vozvrashchenie',
 'Ang-ma-reul bo-at-da',
 'Bacheha-Ye aseman',
 'Jodaeiye Nader az Simin',
 'The Sixth Sense',
 'Nae meorisokui jiwoogae',
 'Okuribito',
 'Wo de fu qin mu qin',
 'Saving Private Ryan',
 'The Bridge on the River Kwai',
 'Ben-Hur',
 'The Exorcist',
 'El secreto de sus ojos',
 'Léon',
 'The Green Mile',
 'Gran Torino',
 'Kill Bill: Vol. 1',
 'Jurassic Park',
 'Terminator 2: Judgment Day',
 'Back to the Future',
 'Finding Nemo']

In [134]:
year = soup2.find_all('span', class_="lister-item-year text-muted unbold")
top_movie_year = []
for years in year:
    top_movie_year.append(years.get_text().strip())
top_movie_year

['(1972)',
 '(1993)',
 '(1957)',
 '(1997)',
 '(1966)',
 '(1994)',
 '(2006)',
 '(1954)',
 '(2011)',
 '(1998)',
 '(2000)',
 '(2001)',
 '(2009)',
 '(I) (2008)',
 '(2001)',
 '(2000)',
 '(1980)',
 '(2006)',
 '(2000)',
 '(2000)',
 '(2008)',
 '(2002)',
 '(1997)',
 '(2004)',
 '(1995)',
 '(1946)',
 '(2003)',
 '(1979)',
 '(2003)',
 '(2003)',
 '(2010)',
 '(1997)',
 '(2011)',
 '(1999)',
 '(2004)',
 '(2008)',
 '(1999)',
 '(1998)',
 '(1957)',
 '(1959)',
 '(1973)',
 '(2009)',
 '(1994)',
 '(1999)',
 '(2008)',
 '(2003)',
 '(1993)',
 '(1991)',
 '(1985)',
 '(2003)']

In [135]:
rating = soup2.find_all('div', class_="ipl-rating-star small")
top_rating = []
for rate in rating:
    top_rating.append(rate.get_text().strip())
top_rating

['9.2',
 '9',
 '9',
 '8.6',
 '8.8',
 '9.3',
 '8',
 '8.6',
 '8.5',
 '8',
 '8.3',
 '8.2',
 '8.1',
 '7.8',
 '8',
 '8.1',
 '8.4',
 '7.8',
 '8.5',
 '7.8',
 '9',
 '8.5',
 '7.9',
 '7.9',
 '8.4',
 '8.6',
 '8',
 '8.5',
 '8.1',
 '7.9',
 '7.8',
 '8.2',
 '8.3',
 '8.2',
 '8.1',
 '8',
 '7.8',
 '8.6',
 '8.2',
 '8.1',
 '8.1',
 '8.2',
 '8.5',
 '8.6',
 '8.1',
 '8.2',
 '8.2',
 '8.6',
 '8.5',
 '8.2']

In [137]:
data = pd.DataFrame()
data['movie name'] = movie_name
data['Rating'] = top_rating
data['release year'] = top_movie_year
data.head()

                        movie name Rating release year
0                    The Godfather    9.2       (1972)
1                 Schindler's List      9       (1993)
2                     12 Angry Men      9       (1957)
3                  La vita è bella    8.6       (1997)
4  Il buono, il brutto, il cattivo    8.8       (1966)

In [ ]:
Question 3: Write a python program to display IMDB’s Top rated 50 Indian movies’ data (i.e. name, rating, year of
release) and make data frame.

In [139]:
page3 = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
page3

In [142]:
soup3 = BeautifulSoup(page3.content)
soup3 = BeautifulSoup(page3.content, "html.parser")
name3 = soup3.find_all('td', class_="titleColumn")
movie_name3 = []
for names3 in name3:
    movie_name3.append(names3.get_text().split('\n')[2])
movie_name3

['      Ramayana: The Legend of Prince Rama',
 '      Rocketry: The Nambi Effect',
 '      Nayakan',
 '      Gol Maal',
 '      Anbe Sivam',
 '      777 Charlie',
 '      Jai Bhim',
 '      Pariyerum Perumal',
 '      3 Idiots',
 '      Manichitrathazhu',
 '      Apur Sansar',
 '      #Home',
 '      Soorarai Pottru',
 '      Black Friday',
 '      Kumbalangi Nights',
 '      C/o Kancharapalem',
 '      Taare Zameen Par',
 '      Kireedam',
 '      Dangal',
 '      Kaithi',
 '      Jersey',
 '      96',
 '      Maya Bazaar',
 '      Natsamrat',
 '      Asuran',
 '      Drishyam 2',
 '      Sita Ramam',
 '      Thevar Magan',
 '      Visaaranai',
 '      Sarpatta Parambarai',
 '      Thalapathi',
 '      Pather Panchali',
 '      Nadodikkattu',
 '      Drishyam',
 '      Jaane Bhi Do Yaaro',
 '      Thani Oruvan',
 '      Sardar Udham',
 '      Aparajito',
 '      Vada Chennai',
 '      Khosla Ka Ghosla!',
 '      Anniyan',
 '      Ratsasan',
 '      Chupke Chupke',
 '      Gangs of Wasseypur',
 '      Peranbu',
 '      Drishyam',
 '      Mahanati',
 '      Bangalore Days',
 '      Satya',
 '      Agent Sai Srinivasa Athreya',
 '      Premam',
 '      Devasuram',
 '      Super Deluxe',
 '      Bhaag Milkha Bhaag',
 '      Tumbbad',
 '      Andhadhun',
 '      Vikram Vedha',
 '      Guide',
 '      Chithram',
 '      Zindagi Na Milegi Dobara',
 '      Kannathil Muthamittal',
 '      Sairat',
 '      Vikram',
 '      Shahid',
 '      Chhichhore',
 '      Iruvar',
 '      Paan Singh Tomar',
 '      Aruvi',
 '      Swades: We, the People',
 '      Munna Bhai M.B.B.S.',
 '      Spadikam',
 '      Chak De! India',
 '      Uri: The Surgical Strike',
 '      Pyaasa',
 '      Mudhalvan',
 '      Black',
 '      Jo Jeeta Wohi Sikandar',
 '      Drishyam 2',
 '      Hera Pheri',
 '      Papanasam',
 '      Lagaan: Once Upon a Time in India',
 '      Pudhu Pettai',
 '      Dhuruvangal Pathinaaru',
 '      PK',
 '      Mandela',
 '      Queen',
 '      Article 15',
 '      Talvar',
 '      Soodhu Kavvum',
 '      OMG: Oh My God!',
 '      Sarfarosh',
 '      Sholay',
 '      Udaan',
 '      Barfi!',
 '      Jigarthanda',
 '      The Legend of Bhagat Singh',
 '      Kaakkaa Muttai',
 '      Ustad Hotel',
 '      Theeran Adhigaaram Ondru',
 '      Baahubali 2: The Conclusion',
 '      Rang De Basanti',
 '      Angoor',
 '      Jana Gana Mana',
 '      Kahaani',
 '      Masaan',
 '      Maheshinte Prathikaaram',
 '      A Wednesday',
 '      Dil Chahta Hai',
 '      Virumandi',
 '      Baasha',
 '      Shershaah',
 '      Lage Raho Munna Bhai',
 '      Kantara',
 '      Iqbal',
 '      Pink',
 '      Roja',
 '      Pithamagan',
 '      Anand',
 '      Nil Battey Sannata',
 '      Kaun Pravin Tambe?',
 '      Lucia',
 '      Charulata',
 '      Bajrangi Bhaijaan',
 '      Omkara',
 '      Oru Vadakkan Veeragatha',
 '      Bommarillu',
 '      Section 375',
 '      Alai Payuthey',
 '      Bombay',
 '      K.G.F: Chapter 1',
 '      Rangasthalam',
 '      Indian',
 '      Dilwale Dulhania Le Jayenge',
 '      Haider',
 '      Mughal-E-Azam',
 '      Athadu',
 '      The Great Indian Kitchen',
 '      Andaz Apna Apna',
 '      Special Chabbis',
 '      Maqbool',
 '      Vaaranam Aayiram',
 '      Thadam',
 '      Padayappa',
 '      Gulaal',
 '      Maanaadu',
 '      K.G.F: Chapter 2',
 '      Pelli Choopulu',
 '      Ulidavaru Kandanthe',
 '      Deewaar',
 '      Company',
 '      Vaastav: The Reality',
 '      Ugly',
 '      Badhaai ho',
 '      Naduvula Konjam Pakkatha Kaanom',
 '      Padosan',
 '      Gully Boy',
 '      Kshanam',
 '      Evaru',
 '      Aadukalam',
 '      My Name Is Khan',
 '      Nayattu',
 '      Dev.D',
 '      Maanagaram',
 '      Major',
 '      Thondimuthalum Dhriksakshiyum',
 '      Pranchiyettan and the Saint',
 '      Kal Ho Naa Ho',
 '      Garuda Gamana Vrishabha Vahana',
 '      Baishe Srabon',
 '      Take Off',
 '      Jab We Met',
 '      Manjhi: The Mountain Man',
 '      Ayyappanum Koshiyum',
 '      Ship of Theseus',
 '      Mukkabaaz',
 '      Charlie',
 '      Border',
 '      Deiva Thirumagal',
 '      Vedam',
 '      Dil Bechara',
 '      M.S. Dhoni: The Untold Story',
 '      Bãhubali: The Beginning',
 '      Salaam Bombay!',
 '      Arjun Reddy',
 '      Padman',
 '      Karnan',
 '      Ankhon Dekhi',
 '      Baby',
 '      Love Today',
 '      Jalsaghar',
 '      Kirik Party',
 '      Vinnaithaandi Varuvaayaa',
 '      Super 30',
 '      The Tashkent Files',
 '      Malik',
 '      Hindi Medium',
 '      Pizza',
 '      Android Kunjappan Version 5.25',
 '      Hridayam',
 '      English Vinglish',
 '      Lakshya',
 '      Johnny Gaddaar',
 '      Memories',
 '      Dor',
 '      Hey Ram',
 '      Airlift',
 '      Joseph',
 '      RRR (Rise Roar Revolt)',
 '      Anjaam Pathiraa',
 '      Kaakha..Kaakha: The Police',
 '      Gangaajal',
 '      Okkadu',
 '      Pokiri',
 '      Thuppakki',
 '      The Lunchbox',
 '      Vettaiyaadu Vilaiyaadu',
 '      Ab Tak Chhappan',
 '      Mumbai Police',
 '      Ghilli',
 '      Manam',
 '      Unnaipol Oruvan',
 '      RangiTaranga',
 '      Veer-Zaara',
 '      Angamaly Diaries',
 '      Vicky Donor',
 '      Kaththi',
 '      Oopiri',
 '      Mother India',
 '      Secret Superstar',
 '      Stanley Ka Dabba',
 '      Thulladha Manamum Thullum',
 '      Nayak: The Real Hero',
 '      Rock On!!',
 '      Mr. India',
 '      Mimi',
 '      Udta Punjab',
 '      Sonchiriya',
 '      Oru CBI Diary Kurippu',
 '      Badla',
 '      Aayirathil Oruvan',
 '      Happy Days',
 '      Dasvidaniya',
 '      Raazi',
 '      Dia',
 '      Kai po che!',
 '      Poove Unakkaga',
 '      Minnal Murali',
 '      Thiruchitrambalam',
 '      Goodachari',
 '      Joji']

In [175]:
rating3 = soup3.find_all('td', class_="ratingColumn imdbRating")
top_rating3 = []
for rate3 in rating3:
    top_rating3.append(rate3.get_text().strip())
top_rating3

['8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.6']

In [153]:
year3 = soup3.find_all('td', class_="titleColumn")
top_movie_year3 = []
for years3 in year3:
    top_movie_year3.append(years3.get_text().split('\n')[3])
top_movie_year3

['(1993)',
 '(2022)',
 '(1987)',
 '(1979)',
 '(2003)',
 '(2022)',
 '(2021)',
 '(2018)',
 '(2009)',
 '(1993)',
 '(1959)',
 '(2021)',
 '(2020)',
 '(2004)',
 '(2019)',
 '(2018)',
 '(2007)',
 '(1989)',
 '(2016)',
 '(2019)',
 '(2019)',
 '(2018)',
 '(1957)',
 '(2016)',
 '(2019)',
 '(2021)',
 '(2022)',
 '(1992)',
 '(2015)',
 '(2021)',
 '(1991)',
 '(1955)',
 '(1987)',
 '(2013)',
 '(1983)',
 '(2015)',
 '(2021)',
 '(1956)',
 '(2018)',
 '(2006)',
 '(2005)',
 '(2018)',
 '(1975)',
 '(2012)',
 '(2018)',
 '(2015)',
 '(2018)',
 '(2014)',
 '(1998)',
 '(2019)',
 '(2015)',
 '(1993)',
 '(2019)',
 '(2013)',
 '(2018)',
 '(2018)',
 '(2017)',
 '(1965)',
 '(1988)',
 '(2011)',
 '(2002)',
 '(2016)',
 '(2022)',
 '(2012)',
 '(2019)',
 '(1997)',
 '(2012)',
 '(2016)',
 '(2004)',
 '(2003)',
 '(1995)',
 '(2007)',
 '(2019)',
 '(1957)',
 '(1999)',
 '(2005)',
 '(1992)',
 '(2022)',
 '(2000)',
 '(2015)',
 '(2001)',
 '(2006)',
 '(2016)',
 '(2014)',
 '(2021)',
 '(2013)',
 '(2019)',
 '(2015)',
 '(2013)',
 '(2012)',
 '(1999)',
 '(1975)',
 '(2010)',
 '(2012)',
 '(2014)',
 '(2002)',
 '(2014)',
 '(2012)',
 '(2017)',
 '(2017)',
 '(2006)',
 '(1982)',
 '(2022)',
 '(2012)',
 '(2015)',
 '(2016)',
 '(2008)',
 '(2001)',
 '(2004)',
 '(1995)',
 '(2021)',
 '(2006)',
 '(2022)',
 '(2005)',
 '(2016)',
 '(1992)',
 '(2003)',
 '(1971)',
 '(2015)',
 '(2022)',
 '(2013)',
 '(1964)',
 '(2015)',
 '(2006)',
 '(1989)',
 '(2006)',
 '(2019)',
 '(2000)',
 '(1995)',
 '(2018)',
 '(2018)',
 '(1996)',
 '(1995)',
 '(2014)',
 '(1960)',
 '(2005)',
 '(2021)',
 '(1994)',
 '(2013)',
 '(2003)',
 '(2008)',
 '(2019)',
 '(1999)',
 '(2009)',
 '(2021)',
 '(2022)',
 '(2016)',
 '(2014)',
 '(1975)',
 '(2002)',
 '(1999)',
 '(2013)',
 '(2018)',
 '(2012)',
 '(1968)',
 '(2019)',
 '(2016)',
 '(2019)',
 '(2011)',
 '(2010)',
 '(2021)',
 '(2009)',
 '(2017)',
 '(2022)',
 '(2017)',
 '(2010)',
 '(2003)',
 '(2021)',
 '(2011)',
 '(2017)',
 '(2007)',
 '(2015)',
 '(2020)',
 '(2012)',
 '(2017)',
 '(2015)',
 '(1997)',
 '(2011)',
 '(2010)',
 '(2020)',
 '(2016)',
 '(2015)',
 '(1988)',
 '(2017)',
 '(2018)',
 '(2021)',
 '(2013)',
 '(2015)',
 '(2022)',
 '(1958)',
 '(2016)',
 '(2010)',
 '(2019)',
 '(2019)',
 '(2021)',
 '(2017)',
 '(2012)',
 '(2019)',
 '(2022)',
 '(2012)',
 '(2004)',
 '(2007)',
 '(2013)',
 '(2006)',
 '(2000)',
 '(2016)',
 '(2018)',
 '(2022)',
 '(2020)',
 '(2003)',
 '(2003)',
 '(2003)',
 '(2006)',
 '(2012)',
 '(2013)',
 '(2006)',
 '(2004)',
 '(2013)',
 '(2004)',
 '(2014)',
 '(2009)',
 '(2015)',
 '(2004)',
 '(2017)',
 '(2012)',
 '(2014)',
 '(2016)',
 '(1957)',
 '(2017)',
 '(2011)',
 '(1999)',
 '(2001)',
 '(2008)',
 '(1987)',
 '(2021)',
 '(2016)',
 '(2019)',
 '(1988)',
 '(2019)',
 '(2010)',
 '(2007)',
 '(2008)',
 '(2018)',
 '(2020)',
 '(2013)',
 '(1996)',
 '(2021)',
 '(2022)',
 '(2018)',
 '(2021)']

In [154]:
data3 = pd.DataFrame()
data3['movie name'] = movie_name3
data3['Rating'] = top_rating3
data3['release year'] = top_movie_year3
data3.head()

                                  movie name Rating release year
0        Ramayana: The Legend of Prince Rama    8.5       (1993)
1                 Rocketry: The Nambi Effect    8.4       (2022)
2                                    Nayakan    8.4       (1987)
3                                   Gol Maal    8.4       (1979)
4                                 Anbe Sivam    8.4       (2003)

In [ ]:
QUestion 4: Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice)
from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [155]:
page4 = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page4

In [163]:
soup4 = BeautifulSoup(page4.content)
soup4 = BeautifulSoup(page4.content, "html.parser")
name4 = soup4.find_all('div', class_="presidentListing")
president_name = []
for names4 in name4:
    president_name.append(names4.get_text().split('(')[0].split('\n')[1])
president_name

['Shri Ram Nath Kovind ',
 'Shri Pranab Mukherjee ',
 'Smt Pratibha Devisingh Patil ',
 'DR. A.P.J. Abdul Kalam ',
 'Shri K. R. Narayanan ',
 'Dr Shankar Dayal Sharma ',
 'Shri R Venkataraman ',
 'Giani Zail Singh ',
 'Shri Neelam Sanjiva Reddy ',
 'Dr. Fakhruddin Ali Ahmed ',
 'Shri Varahagiri Venkata Giri ',
 'Dr. Zakir Husain ',
 'Dr. Sarvepalli Radhakrishnan ',
 'Dr. Rajendra Prasad ']

In [172]:
name4
term=[]
for term4 in name4:
    term.append(term4.get_text().split('(')[1].split(')')[0])
term

['birth - 1945',
 '1935-2020',
 'birth - 1934',
 '1931-2015',
 '1920 - 2005',
 '1918-1999',
 '1910-2009',
 '1916-1994',
 '1913-1996',
 '1905-1977',
 '1894-1980',
 '1897-1969',
 '1888-1975',
 '1884-1963']

In [173]:
data4 = pd.DataFrame()
data4['Name'] = president_name
data4['Term of office'] = term
data4.head()

                            Name Term of office
0          Shri Ram Nath Kovind    birth - 1945
1         Shri Pranab Mukherjee       1935-2020
2  Smt Pratibha Devisingh Patil    birth - 1934
3        DR. A.P.J. Abdul Kalam       1931-2015
4          Shri K. R. Narayanan     1920 - 2005

In [ ]:
Question 5: Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data framea) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team andrating.
c) Top 10 ODI bowlers along with the records of their team andrating.

In [176]:
page5 = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page5

In [203]:
soup5 = BeautifulSoup(page5.content)
soup5 = BeautifulSoup(page5.content, "html.parser")
name5 = soup5.find_all('span', class_="u-hide-phablet")
team_men1 = []
for names5 in name5:
    team_men1.append(names5.get_text())
team_men = team_men1[0:9]
team_men

['India',
 'Australia',
 'New Zealand',
 'England',
 'Pakistan',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'Afghanistan']

In [247]:
match = soup5.find_all('td', class_="rankings-block__banner--matches")
match_ind = []
for mat in match:
    match_ind.append(mat.get_text())
match_ind

['44']

In [248]:
match5 = soup5.find_all('td', class_="table-body__cell u-center-text")
match55 = []
for mat5 in match5:
    match55.append(mat5.get_text())
match_play = match55[0:17:2]
match_play

['32', '29', '33', '25', '27', '33', '34', '20', '41']

In [249]:
match_ind.extend(match_play)
print(match_ind)

['44', '32', '29', '33', '25', '27', '33', '34', '20', '41']

In [253]:
point5 = soup5.find_all('td', class_="rankings-block__banner--points")
points = []
for point in point5:
    points.append(point.get_text())
points

['5,010']

In [255]:
oint5 = soup5.find_all('td', class_="table-body__cell u-center-text")
oints = []
for oint in oint5:
    oints.append(oint.get_text())
point_other= oints[1:18:2]
point_other

['3,572',
 '3,229',
 '3,656',
 '2,649',
 '2,775',
 '3,129',
 '2,976',
 '1,419',
 '2,902']

In [257]:
points.extend(point_other)
print(points)

['5,010', '3,572', '3,229', '3,656', '2,649', '2,775', '3,129', '2,976', '1,419', '2,902']

In [290]:
points

['5,010',
 '3,572',
 '3,229',
 '3,656',
 '2,649',
 '2,775',
 '3,129',
 '2,976',
 '1,419',
 '2,902']

In [415]:
rating5 = soup5.find_all('td', class_="rankings-block__banner--rating u-text-right")
ratings = []
for rate in rating5:
    ratings.append(rate.get_text().split('\n')[1])
ratings

['                            114']

In [282]:
rating5_other = soup5.find_all('td', class_="table-body__cell u-text-right rating")
ratings_other = []
for rate_other in rating5_other:
    ratings_other.append(rate_other.get_text())
rating_others= ratings_other[0:9]
rating_others

['112', '111', '111', '106', '103', '95', '88', '71', '71']

In [283]:
ratings.extend(rating_others)
print(ratings)

['                            114', '112', '111', '111', '106', '103', '95', '88', '71', '71']

In [291]:
ratings

['                            114',
 '112',
 '111',
 '111',
 '106',
 '103',
 '95',
 '88',
 '71',
 '71']

In [421]:
data5 = pd.DataFrame()
data5['matches'] = team_men

data5.head()

       matches
0        India
1    Australia
2  New Zealand
3      England
4     Pakistan

In [ ]:
Top 10 ODI batsman

In [295]:
page5bat = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup5bat = BeautifulSoup(page5bat.content)
soup5bat = BeautifulSoup(page5bat.content, "html.parser")
name5bat = soup5bat.find_all('div', class_="rankings-block__banner--name-large")
team_men1bat = []
for names5bat in name5bat:
    team_men1bat.append(names5bat.get_text())
team_men1bat

['Babar Azam']

In [302]:
name5bat_other = soup5bat.find_all('td', class_="table-body__cell rankings-table__name name")
team_men1bat_other = []
for names5bat_other in name5bat_other:
    team_men1bat_other.append(names5bat_other.get_text().split('\n')[1])
odi_bat= team_men1bat_other[0:9]
odi_bat

['Rassie van der Dussen',
 'David Warner',
 'Quinton de Kock',
 'Imam-ul-Haq',
 'Shubman Gill',
 'Virat Kohli',
 'Steve Smith',
 'Rohit Sharma',
 'Kane Williamson']

In [309]:
team_men1bat.extend(odi_bat)
odi_top = team_men1bat[0:10]
odi_top

['Babar Azam',
 'Rassie van der Dussen',
 'David Warner',
 'Quinton de Kock',
 'Imam-ul-Haq',
 'Shubman Gill',
 'Virat Kohli',
 'Steve Smith',
 'Rohit Sharma',
 'Kane Williamson']

In [312]:
name5team = soup5bat.find_all('div', class_="rankings-block__banner--nationality")
team_men1team = []
for names5team in name5team:
    team_men1team.append(names5team.get_text().split('\n')[2])
team_men1team

['PAK']

In [315]:
name5team_other = soup5bat.find_all('span', class_="table-body__logo-text")
team_men1team_other = []
for names5team_other in name5team_other:
    team_men1team_other.append(names5team_other.get_text())
team_other= team_men1team_other[0:9]
team_other

['SA', 'AUS', 'SA', 'PAK', 'IND', 'IND', 'AUS', 'IND', 'NZ']

In [316]:
team_men1team.extend(team_other)
team_other = team_men1team[0:10]
team_other

['PAK', 'SA', 'AUS', 'SA', 'PAK', 'IND', 'IND', 'AUS', 'IND', 'NZ']

In [317]:
name5rate = soup5bat.find_all('div', class_="rankings-block__banner--rating")
team_men1rate = []
for names5rate in name5rate:
    team_men1rate.append(names5rate.get_text())
team_men1rate

['887']

In [318]:
name5rate = soup5bat.find_all('td', class_="table-body__cell rating")
team_men1rate = []
for names5rate in name5rate:
    team_men1rate.append(names5rate.get_text())
team_rate= team_men1rate[0:9]
team_rate

['787', '747', '743', '740', '734', '727', '719', '719', '700']

In [319]:
team_men1rate.extend(team_rate)
team_other_rate = team_men1rate[0:10]
team_other_rate

['787', '747', '743', '740', '734', '727', '719', '719', '700', '699']

In [320]:
data55 = pd.DataFrame()
data55['name'] = odi_top
data55['team'] = team_other
data55['rating'] = team_other_rate
data55.head()

                    name team rating
0             Babar Azam  PAK    787
1  Rassie van der Dussen   SA    747
2           David Warner  AUS    743
3        Quinton de Kock   SA    740
4            Imam-ul-Haq  PAK    734

In [ ]:
Top 10 ODI bowlers

In [321]:
page_bowler = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup_bowler = BeautifulSoup(page_bowler.content)
soup_bowler = BeautifulSoup(page_bowler.content, "html.parser")
name_bowler = soup_bowler.find_all('div', class_="rankings-block__banner--name-large")
team_bowler = []
for names_bowler in name_bowler:
    team_bowler.append(names_bowler.get_text())
team_bowler

['Mohammed Siraj']

In [326]:
name_bowler_other = soup_bowler.find_all('td', class_="table-body__cell rankings-table__name name")
team_bowler_other = []
for names_bowler_other in name_bowler_other:
    team_bowler_other.append(names_bowler_other.get_text().split('\n')[1])
men_bowler = team_bowler_other[0:9]
men_bowler

['Josh Hazlewood',
 'Trent Boult',
 'Mitchell Starc',
 'Rashid Khan',
 'Adam Zampa',
 'Shakib Al Hasan',
 'Shaheen Afridi',
 'Mustafizur Rahman',
 'Mujeeb Ur Rahman']

In [327]:
team_bowler.extend(men_bowler)
team_bowler

['Mohammed Siraj',
 'Josh Hazlewood',
 'Trent Boult',
 'Mitchell Starc',
 'Rashid Khan',
 'Adam Zampa',
 'Shakib Al Hasan',
 'Shaheen Afridi',
 'Mustafizur Rahman',
 'Mujeeb Ur Rahman']

In [330]:
name_bowler = soup_bowler.find_all('div', class_="rankings-block__banner--nationality")
team_men_bowler = []
for names_bowler in name_bowler:
    team_men_bowler.append(names_bowler.get_text().split('\n')[2])
team_men_bowler

['IND']

In [332]:
name_bowler_other = soup_bowler.find_all('span', class_="table-body__logo-text")
team_men_bowler_other = []
for names_bowler_other in name_bowler_other:
    team_men_bowler_other.append(names_bowler_other.get_text())
bowler=team_men_bowler_other[0:9]
bowler

['AUS', 'NZ', 'AUS', 'AFG', 'AUS', 'BAN', 'PAK', 'BAN', 'AFG']

In [333]:
team_men_bowler.extend(bowler)
team_men_bowler

['IND', 'AUS', 'NZ', 'AUS', 'AFG', 'AUS', 'BAN', 'PAK', 'BAN', 'AFG']

In [334]:
name_rating = soup_bowler.find_all('div', class_="rankings-block__banner--rating")
team_men_rating = []
for names_rating in name_rating:
    team_men_rating.append(names_rating.get_text())
team_men_rating

['729']

In [335]:
name_rating = soup_bowler.find_all('td', class_="table-body__cell rating")
team_men_rating = []
for names_rating in name_rating:
    team_men_rating.append(names_rating.get_text())
bowler_rating=team_men_rating[0:9]
bowler_rating

['727', '708', '665', '659', '655', '652', '641', '638', '637']

In [337]:
team_men_rating.extend(bowler_rating)
rating=team_men_rating[0:10]
rating

['727', '708', '665', '659', '655', '652', '641', '638', '637', '631']

In [338]:
data_bowler = pd.DataFrame()
data_bowler['name'] = team_bowler
data_bowler['team'] = team_men_bowler
data_bowler['rating'] = rating
data_bowler.head()

             name team rating
0  Mohammed Siraj  IND    727
1  Josh Hazlewood  AUS    708
2     Trent Boult   NZ    665
3  Mitchell Starc  AUS    659
4     Rashid Khan  AFG    655

In [ ]:
Question 6: Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data framea) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [340]:
page6 = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page6

In [343]:
soup6 = BeautifulSoup(page6.content)
soup6 = BeautifulSoup(page6.content, "html.parser")
name_wm = soup6.find_all('span', class_="u-hide-phablet")
team_wm = []
for names_wm in name_wm:
    team_wm.append(names_wm.get_text())
women_team = team_wm[0:10]
women_team

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Thailand',
 'Pakistan',
 'Sri Lanka']

In [347]:
name_wm_match = soup6.find_all('td', class_="rankings-block__banner--matches")
team_wm_match = []
for names_wm_match in name_wm_match:
    team_wm_match.append(names_wm_match.get_text())
team_wm_match

['21']

In [351]:
name_wm_match1 = soup6.find_all('td', class_="table-body__cell u-center-text")
team_wm_match1 = []
for names_wm_match1 in name_wm_match1:
    team_wm_match1.append(names_wm_match1.get_text())
women_team_match1 = team_wm_match1[0:18:2]
women_team_match1

['28', '26', '27', '25', '27', '13', '8', '27', '8']

In [352]:
team_wm_match.extend(women_team_match1)
team_wm_match

['21', '28', '26', '27', '25', '27', '13', '8', '27', '8']

In [356]:
name_wm_match1 = soup6.find_all('td', class_="table-body__cell u-center-text")
team_wm_match1 = []
for names_wm_match1 in name_wm_match1:
    team_wm_match1.append(names_wm_match1.get_text())
women_team_point = team_wm_match1[1:20:2]
women_team_point

['3,342',
 '3,098',
 '2,820',
 '2,553',
 '2,535',
 '983',
 '572',
 '1,678',
 '353',
 '548']

In [370]:
name_wm_rating = soup6.find_all('td', class_="rankings-block__banner--rating u-text-right")
team_wm_rating = []
for names_wm_rating in name_wm_rating:
    team_wm_rating.append(names_wm_rating.get_text().split(' ')[28])
team_wm_rating

['172\n']

In [367]:
name_wm_rating_other = soup6.find_all('td', class_="table-body__cell u-text-right rating")
team_wm_rating_other = []
for names_wm_rating_other in name_wm_rating_other:
    team_wm_rating_other.append(names_wm_rating_other.get_text())
rating_wm_other=team_wm_rating_other[0:9]
rating_wm_other

['119', '119', '104', '102', '94', '76', '72', '62', '44']

In [371]:
team_wm_rating.extend(rating_wm_other)
team_wm_rating

['172\n', '119', '119', '104', '102', '94', '76', '72', '62', '44']

In [372]:
data6=pd.DataFrame()
data6['name']= women_team
data6['matches']= team_wm_match
data6['points']= women_team_point
data6['rating']= team_wm_rating
data6.head()

           name matches points rating
0     Australia      21  3,342  172\n
1       England      28  3,098    119
2  South Africa      26  2,820    119
3         India      27  2,553    104
4   New Zealand      25  2,535    102

In [ ]:
Question 7: Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and
make data framei) Headline
ii) Time
iii) News Link

In [373]:
page7 = requests.get('https://www.cnbc.com/world/?region=world')
page7

In [436]:
soup7 = BeautifulSoup(page7.content)
soup7 = BeautifulSoup(page7.content, "html.parser")
headline = soup7.find_all('div', class_="RiverHeadline-headline RiverHeadline-hasThumbnail")
headlines = []
for head in headline:
    headlines.append(head.get_text())
headlines1=headlines[0:12]
headlines1

["Elon Musk, who co-founded firm behind ChatGPT, warns A.I. is 'one of the biggest risks' to civilization",
 "EU announces new Russia sanctions package; Ukrainian children sent to Russian 're-education' camps, study says",
 'This fund manager says a bull market might be on the horizon — and names her top stock picks',
 'Dow sheds more than 100 points as investors weigh retail sales, inflation data: Live updates',
 'Early Deliveroo investor Hoxton Ventures is set to lose one of its founding partners',
 "BofA says these global stocks can weather a choppy market — and are 'inexpensive'",
 'Apple patent adds to hype around foldable device from the iPhone maker',
 'UK inflation rate dips for third straight month to hit 10.1%',
 'Shut out from their top destinations, Chinese travelers are turning to other places',
 'Death toll in Turkey and Syria earthquake tops 41,000 as UN says rescue phase is coming to a close',
 "Barclays says buy Tesla shares, sees 30% rally in the 'clear leader' of the electric transition",
 "Indian tycoon Gautam Adani dismisses market volatility as 'temporary' "]

In [411]:
times = soup7.find_all('span', class_="RiverByline-datePublished")
time = []
for tim in times:
    time.append(tim.get_text())
time

['25 min ago',
 '25 min ago',
 '37 min ago',
 '37 min ago',
 '8 min ago',
 '8 min ago',
 '2 hours ago',
 '2 hours ago',
 '2 hours ago',
 '2 hours ago',
 '5 hours ago',
 '5 hours ago']

In [417]:
newsLink = []  ## creating empty list


for i in soup7.find_all("div",class_="LatestNews-container"):

     newsLink.append(i.find("a",class_="LatestNews-headline").get("href"))

In [438]:
data7=pd.DataFrame()
data7['Headlines']=headlines

data7.head()

                                           Headlines
0  Elon Musk, who co-founded firm behind ChatGPT,...
1  EU announces new Russia sanctions package; Ukr...
2  This fund manager says a bull market might be ...
3  Dow sheds more than 100 points as investors we...
4  Early Deliveroo investor Hoxton Ventures is se...

In [ ]:
Question 8: Write a python program to scrape the details of most downloaded articles from AI in last 90
days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details and make data framei) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [423]:
page8 = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
page8

In [424]:
soup8 = BeautifulSoup(page8.content)
soup8 = BeautifulSoup(page8.content, "html.parser")
article = soup8.find_all('h2', class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg")
articles = []
for arti in article:
    articles.append(arti.get_text())
articles

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social human–robot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

In [425]:
author = soup8.find_all('span', class_="sc-1w3fpd7-0 dnCnAO")
authors = []
for auth in author:
    authors.append(auth.get_text())
authors

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni ',
 'Boden, Margaret A. ',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim ',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder ',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ',
 'Bench-Capon, T.J.M., Dunne, Paul E. ',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat ',
 'Arora, Saurabh, Doshi, Prashant ',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders ',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ',
 'Riveiro, Maria, Thill, Serge ',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ',
 'Kohavi, Ron, John, George H. ',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ',
 'Ying, Mingsheng ']

In [426]:
date = soup8.find_all('span', class_="sc-1thf9ly-2 dvggWt")
dates = []
for dat in date:
    dates.append(dat.get_text())
dates

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

In [427]:
data8 = pd.DataFrame()
data8['Paper Title']=articles
data8['Author']=authors
data8['Published Date']=dates
data8.head()

,Paper Title,Author,Published Date
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017